{% extends "social/base_sidebar.html" %}
{% load static %}
{% load filters %}
{% load crispy_forms_tags %}

{% block stylesheet_block %}
<link rel="stylesheet" type="text/css" href="{% static 'social/profile.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'social/modal.css' %}">
{% endblock stylesheet_block %}

{% block js_block %}
<script src="{% static 'social/scripts.js' %}"></script>
<script>
    $(document).ready(function () {

        $(".edit-profile").modalForm({
            formURL: "{% url 'update_profile' %}"
        });
    });
</script>
{% endblock js_block %}

{% block content %}
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content my-modal-content">

        </div>
    </div>
</div>


<div class="col-sm-7">
    <div class="">
        <!-- <div class="content-section"> -->
        <!-- <div class="media"> -->
        <div class="media">
            <img class="rounded-circle profile-img" src="{{ user.userprofile.image.url }}">
            <!-- <div class="edit-profile-button">
                <button class="btn my-purple-btn">Edit profile</button>
            </div> -->
            <div class="edit-profile-button">
                <a class="edit-profile link-hover btn my-purple-btn">Replay modal</a>
            </div>
        </div>
        <div class="media-body tests">
            <h2 class="account-heading"> {{ user.username }}</h2>
            <p class="text-secondary">{{ user.userprofile.bio|render_tags_and_links }}</p>
            <div class="row">
                <div class="col">
                    <i class="fas fa-map-marker-alt float-right2"></i>
                    <p class="text-secondary">{{ user.userprofile.city }}</p>
                </div>
                <div class="col">
                    <i class="fas fa-link float-right2"></i>
                    <p class="text-secondary">{{ user.userprofile.website|render_tags_and_links }}</p>
                </div>
                <div class="col">
                    <div>
                        <i class="fas fa-calendar-alt float-right2"></i>
                        <p class="text-secondary ">{{ user.date_joined|date:"F Y" }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- </div> -->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Profile info</legend>
            {{ myuser_form|crispy }}
            {{ profile_form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info">Delete current photo</button>
        </div>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Update</button>
        </div>
    </form>
    <!-- </div> -->
</div>
{% endblock content %}