{% extends 'social/base.html' %}
{% load crispy_forms_tags %}


{% block base_content %}
<div class="col-sm-6 offset-sm-3 text-center borders mt-3">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group mb-0 mt-1">
            <legend class="border-bottom mb-3 pb-1">Log In</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group mb-2">
            <button class="btn purple-btn" type="submit">Login</button>
        </div>
        <div class="mb-1">
            <small class="text-muted">
                <a href="{% url 'password_reset' %}">Forgot Password?</a>
            </small>
        </div>
    </form>
    <div class="border-top pt-1 mb-2">
        <small class="text-muted">
            Need An Account?
            <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
        </small>
    </div>
</div>
{% endblock base_content %}