{% extends 'social/base.html' %}
{% load crispy_forms_tags %}

{% block base_content %}
<!-- TODO: Adjust size of alerts? (reCAPTCHA) -->
<div class="col-sm-4 offset-sm-4 text-center">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group mb-3">
            <legend class="border-bottom mb-3 pb-1">Reset password</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Reset Password</button>
        </div>
    </form>
</div>
{% endblock base_content %}