body {
    background-color:#000000;
    color: #d9d9d9;
}

.bg-steel {
  background-color: #5f788a;
  /* background-color: #435563; */
}

.aqua {
  background-color: #00ffff;
}

.purple-main {
  color: #794bc4;
}

.purple-sec {
  color: #3c2562;

}

.dark-icon {
    /* color:#2f3336; */
    color:#6e767d;;
}

.dark-icon:hover {
    /* color: #a8a7a7; */
    color: #d9d9d9;
}

.hashtag {
  color:#794bc4;
}

.hashtag:hover {
  color: #794bc4;
}

.link {
  color:#794bc4;
}

.link:hover {
  /* color: #d313c9; */
  color:#794bc4;
}

.main-txt-col {
  color: #d9d9d9;
}

.col-sec {
  color: #6e767d;
}

.my-navbar {
  border-bottom-color: #2f3336;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.my-container {
  /* background: #000000; */
  /* background: #46f700; */
  /* padding-top: 10px; */
}

.bg-onhover {
  background-color: #15181c;
}
.delete-comment {
  margin: 5px 10px 0px 0px;
}
.delete-comment:hover{
  cursor: pointer;
}

.my-drop-menu {
    background-color: #000000;
    color: #d9d9d9;
    border-color: #2f3336;;
    border-width: 2px;
    border-style: solid;
    border-radius: 4px;
}

.my-drop-menu-item {
    color: #d9d9d9;
    background-color: #000000; 
}

.main-text {
  color: #d9d9d9;
}

.main-text-bold {

  color: #d9d9d9;
    font-weight: 700;
}

.secondary-text {
    color: #6e767d;
}

.my-drop-menu-item:hover {
    background-color: #2f3336; 
    color: white;
}

.my-drop-menu-item-span:hover {
    background-color: #2f3336; 
    color: white;
}


.my-main-column {
  /* background-color: #0c50b6; */
  /* background-color: #000000; */
  /* margin-right: 20px; */
  border-bottom-color: #2f3336;
  border-bottom-style: solid;
  border-bottom-width: 0px;
  
  border-left-color: #2f3336;
  border-left-style: solid;
  border-left-width: 1px;

  border-right-color: #2f3336;
  border-right-style: solid;
  border-right-width: 1px;

  border-top-color: #2f3336;
  border-top-style: solid;
  border-top-width: 0px;
  /* background-color: #435563; */
}

.nav-back {
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 15px;

    border-bottom-color: #2f3336;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}


.nav-back-span-icon {
    font-size: 24px;
}

a.nav-back-span-a {
    /* color: #6837b6; */
    color: #48277c;
    /* color: #794bc4; */
    
}

a.nav-back-span-a:hover {
    color: #794bc4;
    text-decoration: none;
}

.nav-back-span-text {
    font-size: 19px;
    font-weight: bold;
    margin-left: 15px;
}

.my-sidebar {
  /* background-color: #15181c; */
}

.content-section {
  background: red;
}

.my-horizontal-bar {
  border-bottom-width: 2px;
  border-bottom-color: #2f3336;
  border-bottom-style: solid;
  padding-left: 0px;
  margin-left: 0px;
  width: 100%;
}

.my-post {
  /* background: #000000; */
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
}

/* .my-post2 {
   background: #000000; 
  display:inline-block;
} */

.post-author-img {
  height: 64px;
  width: 64px;
  /* margin-right: 16px; */
  margin-right: 12px;
  margin-top: 2px;
}

.post-metadata {
  margin-bottom: 2px;
  font-size: 15px;
}

.post-author-name {
  font-size: 15px;
  font-weight: 700;
  color: #d9d9d9;
}
a.post-author-name:hover {
  color: #ffffff;
}
.author-name-sm {
  font-size: 15px;
  font-weight: 700;
  color: #d9d9d9;
}

a.author-name-sm:hover {
color: #ffffff;
}

.light-icon {
    color: #6e767d;
}

.light-icon:hover {
    color: #d9d9d9;
}

.post-metadata-text {
  font-weight: 400;
  color: #6e767d;
}

a.post-metadata-text:hover {
  font-weight: 400;
  color: #767e85;
}

.dimmed-metadata-text {
  font-weight: 400;
  color: #6e767d;
}

a.dimmed-metadata-text:hover {
  font-size: 15px;
  font-weight: 400;
  color: #767e85;
}

.post-content {
  font-weight: 400;
  color: #d9d9d9;
}

.normal-text-content {
  font-weight: 400;
  color: #d9d9d9;
}

.link-hover:hover {
    cursor: pointer;
}

.post-image {
  height: 555px;
  /* width: 540px; */
  width: 100%;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;

  border-bottom-color: #2f3336;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  
  border-left-color: #2f3336;
  border-left-style: solid;
  border-left-width: 1px;

  border-right-color: #2f3336;
  border-right-style: solid;
  border-right-width: 1px;

  border-top-color: #2f3336;
  border-top-style: solid;
  border-top-width: 1px;

}

.post-likes-panel {
  margin-top: 3px;
  margin-right: 16px;
}

a.post-stats:hover {
  color: #a8a7a7;
}

.align-right {
  display: flex; 
  justify-content: flex-end;
  
}

.align-right2 {
  float:right;
  /* margin-left: auto;  */
  /* margin-right: 0px; */
}

.float-right {
  float:right;
}

.heart {
  font-size: 16px; 
  color:#6e767d;
  animation-fill-mode: forwards;  
  /* For heart-pulse */
  display: inline-block;
  vertical-align: middle;
}

a.heart:hover {
  color: rgb(255, 0, 0);
  text-shadow: none;
	-webkit-transition: 50ms linear 0s;
	-moz-transition: 50ms linear 0s;
	-o-transition: 50ms linear 0s;
	transition: 50ms linear 0s;
  outline: 0 none;
  text-decoration: none;
  text-shadow: 0 0 5px #ff0000;
}

.liked {
  font-size: 16px; 
  color:rgb(255, 0, 0);
  animation-fill-mode: forwards;  
  /* For heart-pulse */
  display: inline-block;
  vertical-align: middle;
}

a.liked:hover {
  color:#6e767d;
  text-shadow: none;
	-webkit-transition: 50ms linear 0s;
	-moz-transition: 50ms linear 0s;
	-o-transition: 50ms linear 0s;
	transition: 50ms linear 0s;
  outline: 0 none;
  text-decoration: none;
  text-shadow: 0 0 5px #000000;
}

.comment {
  font-size: 16px; 
  color: #6e767d;
    /* For heart-pulse */
  display: inline-block;
  vertical-align: middle;
}

a.comment:hover {
  color: #239eea;
  text-shadow: none;
	-webkit-transition: 50ms linear 0s;
	-moz-transition: 50ms linear 0s;
	-o-transition: 50ms linear 0s;
	transition: 50ms linear 0s;
  outline: 0 none;
  text-decoration: none;
  text-shadow: 0 0 5px #00ffff;
}



.commented {
  font-size: 16px; 
  color: #239eea;
  animation-fill-mode: forwards;  
  /* For heart-pulse */
  display: inline-block;
  vertical-align: middle;
}

a.commented:hover {
  color: #68c5ff;
  text-shadow: none;
  text-decoration: none;

	/* -webkit-transition: 50ms linear 0s;
	-moz-transition: 50ms linear 0s;
	-o-transition: 50ms linear 0s;
	transition: 50ms linear 0s;
  outline: 0 none;
  text-shadow: 0 0 5px #0077ff; */
}

.my-purple-btn {
  color: #d9d9d9;
  /* background-color: #3c2562; */
  background-color: #48277c;
  margin-right: 0px;
}

.my-purple-btn:hover {
  color: #ffffff;
  background-color: #794bc4;
}

.my-purple-btn-light {
  background-color: #794bc4;
  color: #ffffff;

}

.my-purple-btn-light:hover {
  background-color: #865dca;
  color: #ffffff;
}

.comment-author-img {
  height: 54px;
  width: 54px;
  /* margin-right: 16px; */
  margin-right: 12px;
  margin-top: 2px;
}

#div_id_text {
  margin-bottom: 10px;
}




.brd-container {
  margin-top: 10px;
  border-bottom-color: red;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  
  border-left-color: red;
  border-left-style: solid;
  border-left-width: 1px;

  border-right-color: red;
  border-right-style: solid;
  border-right-width: 1px;

  border-top-color: red;
  border-top-style: solid;
  border-top-width: 1px;
}

.brd-sidebar {
  border-bottom-color: green;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  
  border-left-color: green;
  border-left-style: solid;
  border-left-width: 1px;

  border-right-color: green;
  border-right-style: solid;
  border-right-width: 1px;

  border-top-color: green;
  border-top-style: solid;
  border-top-width: 1px;
}

.brd-post {
  border-bottom-color: aqua;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  
  border-left-color: aqua;
  border-left-style: solid;
  border-left-width: 1px;

  border-right-color: aqua;
  border-right-style: solid;
  border-right-width: 1px;

  border-top-color: aqua;
  border-top-style: solid;
  border-top-width: 1px;
}







/* Icon Wobble Horizontal */
@-webkit-keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.hvr-icon-wobble-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-wobble-horizontal .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.hvr-icon-wobble-horizontal:hover .hvr-icon, .hvr-icon-wobble-horizontal:focus .hvr-icon, .hvr-icon-wobble-horizontal:active .hvr-icon {
  -webkit-animation-name: hvr-icon-wobble-horizontal;
  animation-name: hvr-icon-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Pulse shrink */
@-webkit-keyframes hvr-icon-pulse-shrink {
  to {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}
@keyframes hvr-icon-pulse-shrink {
  to {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}
.hvr-icon-pulse-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-icon-pulse-shrink .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-pulse-shrink:hover .hvr-icon, .hvr-icon-pulse-shrink:focus .hvr-icon, .hvr-icon-pulse-shrink:active .hvr-icon {
  -webkit-animation-name: hvr-icon-pulse-shrink;
  animation-name: hvr-icon-pulse-shrink;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}


/* ssssssssssssssssssssssssssssssss */

