.my-modal-content {
    background-color:#15181c;
    color: #d9d9d9;
}

textarea {
    width: 100%;
    background-color: #15181c;
    color: #d9d9d9;
}

textarea:focus {
  border: 1px solid #3c2562;
}