.profile-img {
    width: 132px;
    height: 132px;
}

.tests{
    /* background-color: #15181c; */
     border-radius: 14px;
    margin-top: 8px;
    border-color: #2f3336;
    /* border-style: solid; */
    /* border-width: 1px; */
}

.display-inline {
    display: inline-block;
}

.float-right2 {
    float:left;
    margin-right: 6px;
}

.edit-profile-button {
    margin-left: auto; 
    margin-right: 0; 
    margin-top: auto; 
    margin-bottom: 0;
}