.profile-img {
    width: 132px;
    height: 132px;
    display: inline-flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.icon-position {
    float:left;
    margin-right: 6px;
}

.my-media{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.my-dropdown{
    position: absolute;
    right: 0;
    top: 0;
}

/* TODO  remove */
.tests{
    border-radius: 14px;
    margin-top: 8px;
    border-color: #2f3336;
    border-width: 1px;
    border-style: solid;
}
