.profile-img {
    width: 132px;
    height: 132px;
    display: inline-flex;
    border-radius: 50%;
}

.icon-position {
    float:left;
    margin-top: 3px;
    margin-right: 6px;
    font-size: 15px;
}

.my-media {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.my-dropdown {
    position: absolute;
    right: 0;
    top: 0;
}