{% load widget_tweaks %}

<form method="POST" action="">
    {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title">Are you sure to delete your post?</h4>
        <a class="delete-comment link-hover" data-dismiss="modal">
            <i class="fas fa-times light-icon "></i>
        </a>
    </div>
    <div class="modal-body">
        <p class="mb-0">{{ post.content }}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-outline-danger">Delete</button>
    </div>
</form>