{% extends 'social/base.html' %}
{% load crispy_forms_tags %}
{% load filters %}

{% block base_content %}
{{ view.kwargs.username }}
{{ page_obj.paginator.count }}

<div class="my-horizontal-bar"></div>

{% for post in posts %}

<div onclick="location.href='/post/{{ post.id }}/';" style="cursor: pointer; "
    onmouseover="this.getElementsByClassName('my-post')[0].style.backgroundColor = '#15181c';""
            onmouseout=" this.getElementsByClassName('my-post')[0].style.backgroundColor='black' ;">

    <article class="media my-post">

        <a href="author"><img class="rounded-circle post-author-img" src="{{ post.author.profile.image.url }}"></a>

        <div class="media-body">

            <div class="post-metadata">
                <a class="post-author-name mr-2" href="username">{{ post.author.username }}</a>
                <a class="post-metadata-text mr-2"
                    href="https://www.google.pl/maps/place/{{ post.location }}">{{ post.location }}</a>
                <!-- <span class="post-metadata-text">{{ post.date_posted|date:"F d, Y" }}</span> -->
                <span class="post-metadata-text">{{ post.date_posted|time_since_date_posted }}</span>
            </div>

            <p class="article-content post-content">{{ post.content|render_tags_and_links }}</p>


            {% if post.image %}
            <img class="post-image" src="{{ post.image.url }}">
            {% endif %}

            <div class="post-likes-panel">
                <div class="aligin-right">
                    <div class="row">
                        <div>
                            <!-- <a href="likes" class="comment col-sec mr-2"><small>Likes: 123</small></a> -->
                            <a href="comments" class=" hvr-icon-wobble-horizontal comment col-sec mr-2"><i
                                    class="far fa-comment hvr-icon"></i>
                                <small>121</small></a>
                        </div>
                        <div>
                            <a href="heart" class="heart hvr-icon-pulse-shrink"><i
                                    class="far fa-heart hvr-icon"></i><small class="heart-humber">
                                    123</small></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </article>
</div>

<div class="my-horizontal-bar"></div>

{% endfor %}
{% endblock base_content %}